@media only screen and (max-width: 786px){
    .hero-texts h1{
        font-size: 40px;
    }
    .hero-sec .editor-row{
        padding: 3% 5% 5% !important;
    }
    .text-area{
        width: 100%;
    }
    .counter-box{
        height: 160px;
        flex-direction: row;
        padding: 3% !important;
        align-items: center;
        margin: 2% 0 !important;
    }
    .case-menu{
        width: 100%;
        margin-bottom: 2% !important;
    }
    .case-controls-row{
        padding-top: 0 !important;
        
    }
    .controls-menu{
        padding: .5% 0 !important;
    }
    .controls-menu button{
        width: 49% !important;
    }
    .text-row {
        padding: 8% 5% !important;
    }
    .feature-box img{
        width: 80px;
    }
    .feature-box {
        padding-bottom: 6% !important;
        padding-right: 0 !important;
    }
    .feature-row .col-sm-6:nth-child(odd){
        padding-right: 3% !important;
    }
    .feature-row .col-sm-6:nth-child(even){
        padding-left: 3% !important;
    }
    .mail-sec {
        padding: 10% 5% !important;
    }
    .mail-row {
        padding: 5% !important;
    }
    .mail-box h3 {
        font-size: 36px;
    padding: 0 5% !important;
    }
    .mail-box p{
        padding: 3% 0 !important;
    }
    .form-box {
        width: 70% !important;
    }
    .swiper-desk{
        display: none;
    }
    .swiper-mob{
        display: block;
    }

}


@media only screen and (max-width: 480px){
    
    header{
        display: flex !important;
        
    }
    #header{
        padding: 0 5% !important
    }
    .hero-texts{
        padding: 10% 5% 5% !important;
    }
    .hero-texts h1{
        font-size: 30px;
    }
    .hero-texts p{
        font-size: 16px;
        padding-top: 1.5% !important;
        line-height: 1.4em;;
    }
    #page-wrap .editor-row{
        padding: 3% 4% 10% !important;
    }
    .editor-box-row{
        display: flex;
    flex-direction: column-reverse;
    }
    .counter-box{
        flex-direction: row;
        height: 100px;
        padding: 2% !important;
        align-items: center;
    }
    .counter-box h3{
        font-size: 26px;

    }
    .counter-box h5{
        font-size: 14px;
    }
    .counter-1,.counter-2,.counter-3{
        display: flex;
    flex-direction: column-reverse;
    }
    .text-area{
        width: 100%;
        margin: 3% 0 !important;
    }
    .case-controls-row{
        display: flex;
        flex-direction: column;
    }
    .case-menu{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .case-menu .swiper-slide{
        height: 50px !important;
        padding-right: 3px !important;
    }
    .case-menu button{
        padding: 0 20px !important;
        font-size: 14px;
    }
    .toast{
        bottom: 24% !important  ;
    }
    .text-row{
        padding: 10% 5% !important;
    }
    .text-row h3{
    font-size: 34px !important;
    line-height: 1.2em !important;
    text-align: left;
    padding-right: 15% !important;
    }
    .text-row h5{
        font-size: 16px !important;
        padding-top: 2% !important;
        padding-bottom: 5% !important;
        text-align: left;
    }
    .feature-box{
        padding-bottom: 12% !important;
        padding-right: 0!important;
        
    }
    .feature-box img {
        width: 60px;
    }
    .feature-box h2{
        font-size: 22px!important;
    }
    .feature-box p{
        font-size: 18px!important;
    }
    .mail-sec{
        padding: 15% 5% !important;

    }
    .mail-box h3 {
        font-size: 24px;
        font-weight: 600;
        padding: 0% !important;
    }
    .mail-row{
        padding:12% 6% !important;
    }
    .form-box{
        width: 100% !important;
    }
    .mail-box p {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        padding: 3% 0 6% !important
    }
    footer{
        padding: 5% !important;
    }
    .cleffon-logo-div h4, .copyright h5{
        font-size: 12px !important;
    }
    .cleffon-logo{
        width: 60px !important;
    }
    .swiper-desk{
        display: none;
    }
    .swiper-mob{
        display: block;
    }
}