* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: gilroy;
}

a {
    text-decoration: none !important;
}

header {
    background-color: #2F2F2F;
    width: 100%;
    height: 60px;
}

#header {
    padding: 1% 10% !important;
}

#header .row {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: 700;
}
.logo span{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
}

#page-wrap {
    height: auto;
    width: 100%;
    background-color: #212121;

}
.hero-texts{
    text-align: center;
    padding-top:3% !important ;
}
.hero-texts h1{
    font-weight: 700;
    font-size: 52px;
    color: white;
}
.hero-texts h1 span{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
}
.hero-texts p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-top: .5% !important;
}
#page-wrap .editor-row {
    padding: 3% 15% 5% !important;

}

.text-area {
    width: 98%;
    height: 400px;
    background: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .3% !important;
}

textarea {
    width: 100%;
    height: 100%;
    background: #2F2F2F;
    border: 2px solid #454545;
    border-radius: 12px !important;
    resize: none !important;
    padding: 2% !important;
    color: white;
}

textarea:focus-visible {
    /* border: 2px solid #e2ea00 !important; */
    outline: none;
}

.case-controls-row {
    padding-top: 1% !important;
}

.tools-box {
    width: 100%;
    height: 400px;
    background: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
}

.case-menu {
    width: 98%;
    height: 70px;
    background-color: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .5% !important;
}
.case-menu .swiper-slide{
    height: 60px !important;
    width: auto !important;
    padding-right: 6px !important;
}
.case-menu button {
    background: #2F2F2F;
    border-radius: 10px;
    color: white;
    height: 100% !important;
    padding: 0 25px !important;
    border: none;
}
.case-menu .swiper{
    border-radius: 10px;
}
.controls-menu{
    width: 100%;
    height: 70px;
    background-color: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .5% !important;
}