* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: gilroy;
}

a {
    text-decoration: none !important;
}

header {
    background-color: #2F2F2F;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header {
    padding: 0 10% !important;
}

#header-wrap{
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.logo span {
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
}
.menu-links{
    display: flex;
    justify-content: end;
}
.contact-btn{
    padding: 8px 40px !important;
    border-radius: 70px !important;
    font-size: 14px;
    font-weight: 700;
    color: white;
    /* background: linear-gradient(90deg, #055aa6 0%, #e6333f 100%); */
    background-color: #1c1c1e;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.contact-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 70px !important;
}

.contact-btn:active {
    color: #000
}

.contact-btn:active:after {
    background: transparent;
}

.contact-btn:hover:before {
    opacity: 1;
}
.contact-btn:hover{
    color: white !important;
}
.contact-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 70px !important;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.hero-sec {
    height: auto;
    width: 100%;
    background-color: #212121;

}

.hero-texts {
    text-align: center;
    padding-top: 3% !important;
}

.hero-texts h1 {
    font-weight: 700;
    font-size: 52px;
    color: white;
}

.hero-texts h1 span {
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
}

.hero-texts p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-top: .5% !important;
}

.hero-sec .editor-row {
    padding: 3% 15% 5% !important;

}

.text-area {
    width: 98%;
    height: 400px;
    background: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .3% !important;
}

textarea {
    width: 100%;
    height: 100%;
    background: #2F2F2F;
    border: 2px solid #454545;
    border-radius: 12px !important;
    resize: none !important;
    padding: 2% !important;
    color: white;
    font-size: 18px !important;
    font-weight: 500;
}
textarea::-webkit-scrollbar {
    width: 15px;
    
}
textarea::-webkit-scrollbar-track {
    border-radius: 6px;
            background-color: #2F2F2F;
            border: 1px solid #454545;
            padding: 2px !important;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-image: linear-gradient(180deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
}

textarea:focus-visible {
    /* border: 2px solid #e2ea00 !important; */
    outline: none;
}



.case-controls-row {
    padding-top: 1% !important;
}

.counter-box {
    width: 100%;
    height: 400px;
    background: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: 10% 10% 5% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.counter-box h5{
    color: #C1B7B7;
    font-size: 16px;
}
.counter-box h3{
    color: white;
    font-size: 70px;
    font-weight: 700;
}


.case-menu {
    width: 98%;
    height: 70px;
    background-color: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .5% !important;
}

.case-menu .swiper-slide {
    height: 60px !important;
    width: auto !important;
    padding-right: 6px !important;
}

.case-menu button {
    background: #2F2F2F !important;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    height: 100% !important;
    padding: 0 25px !important;
    border: none;
}


.case-menu .swiper {
    border-radius: 10px;
}

.controls-menu {
    width: 100%;
    height: 70px;
    background-color: #1c1c1e;
    border: 2px solid #454545;
    border-radius: 15px;
    padding: .5% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% .1% !important;
}

.controls-menu button {
    width: 48%;
    background: #2F2F2F;
    border-radius: 10px;
    color: white;
    height: 100% !important;
    padding: 0 25px !important;
    border: none;
}

.clear-btn {
    margin-right: 2px !important;
    background-color: #e60b2f !important;
}

.copy-btn {
    margin-left: 2px !important;
    background-color: #2151be !important;
}

.controls-menu button i {
    font-size: 24px;
}



.toast {
    /* visibility: hidden; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
    background: linear-gradient(90deg, #2151be, #e60b2f) !important;
    color: #fff;
    padding: 10px 15px !important;
    border-radius: 10px !important;
    width: max-content !important;
    font-weight: 500;
    border: none !important;
}

.toast.show {
    visibility: visible;
}

.text-row{
    padding: 5% 10% !important;
    background-color: #1c1c1e;
}
.text-row h3{
    padding: 0 0 1% !important;
    font-size: 40px !important;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);

}
.text-row h5{
    color: #b6b6b6;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
}
.feature-row{
    padding: 6% 0 0 0 !important;
}
.feature-box{
    padding-bottom: 20% !important;
    padding-right: 20% !important;
}
.feature-box img{
    width: 55px;
    padding: 5% 3% !important;
    background-color: #373738;
    margin-bottom: 3% !important;
    border-radius: 10px;
}
.feature-col{
    border-radius: 10px;
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.feature-box h2{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.feature-box p{
color: #b6b6b6;
font-size: 16px;
font-weight: 500;
line-height: 1.4em;
padding-top: 2% !important;
}

.mail-sec{
    padding: 5% 10% !important;
    background-color: #212121;  
}
.mail-row{
    padding: 5% 10%!important;
    background-image: url(../assets/images/mail-box-bg.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #102445;
    border-radius: 40px;
}
.mail-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mail-box h3{
    font-size: 46px;
    font-weight: 700;
    color: #fff;
    padding: 0 20% !important ;
    text-align: center;
}
.mail-box h3 span{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
}
.mail-box p{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 2% 0 !important ;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
}
.form-box{
    width: 50% !important;
    position: relative;
}
.form-box input{
    padding: 4% !important;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100% !important;
    height: 65px;
    font-size: 18px;
    font-weight: 500;
}
.form-box input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgb(106, 106, 106);
}
.form-box button{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(115, 81, 228);
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 55px;
    position: absolute;
    right: 5px;
    width: 30% !important;
}